@font-face {
	font-family: 'manitoban_fbbold';
	src: url('manitobanfb-bold-webfont.woff2') format('woff2'),
	url('manitobanfb-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'manitoban_fbitalic';
	src: url('manitobanfb-italic-webfont.woff2') format('woff2'),
	url('manitobanfb-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'manitoban_fbregular';
	src: url('manitobanfb-reg-webfont.woff2') format('woff2'),
	url('manitobanfb-reg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

.fade-in-longer {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	font-family: 'manitoban_fbregular', sans-serif;
	padding: 100vh 0 0 0;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: 'manitoban_fbbold', sans-serif;
}

blockquote {
	font-family: 'manitoban_fbitalic', sans-serif;
}

.return {
	margin: 0;
	position: fixed;
	right: 0px;
	top: 0px;
}

.return a {
	display: block;
	padding: 15px;
	color: #EFEFEF;
	text-decoration: none;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.more-link {
	text-align: center;
}

.main {
	background: #A4B9CE;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	color: #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section .wrapper {
	width: 100%;
	max-width: 768px;
	padding: 0 2vw;
}

.section a {
	color: #EFEFEF;
}

.section h2 {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.main h1 {
	margin: 0 -10vw 0 0;
	text-align: center;
	color: #3E4144;
	font-size: 10vw;
	letter-spacing: 10vw;
}

@media only screen and (orientation: portrait) {
	.main h1 {
		font-size: 10vh;
	}
}

.main .background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/poster.jpg);
	background-size: cover;
	background-position: center center;
}

.main .background video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.main .wrapper {
	position: relative;
}

.main .background video {
	width: 100%;
}

@media only screen and (orientation: portrait) {
	.main .background video {
		width: auto;
		height: 100%;
	}
}

.nav ul {
	padding: 0;
	display: flex;
	border-top: 1px solid #3E4144;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	display: block;
	text-decoration: none;
	color: #3E4144;
	font-size: 2vw;
	padding: 1vw 0;
}

@media only screen and (orientation: portrait) {
	.nav ul li a {
		font-size: 2vh;
	}
}

.nav ul li a:hover {
	text-decoration: underline;
}

.release {
	display: flex;
}

.release-cover {
	width: 25%;
}

.release-cover img {
	width: 100%;
	height: auto;
}

.release-info {
	display: block;
	flex: 1;
	margin-left: 1vw;
}

.release-info h3 {
	margin-top: 0;
}