
@font-face {
	font-family: 'Motiva Sans';
	src: url('fonts/motiva-sans.eot');
	src: url('fonts/motiva-sans.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans.woff') format('woff'),
	url('fonts/motiva-sans.ttf') format('truetype'),
	url('fonts/motiva-sans.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Medium';
	src: url('fonts/motiva-sans-medium.eot');
	src: url('fonts/motiva-sans-medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-medium.woff') format('woff'),
	url('fonts/motiva-sans-medium.ttf') format('truetype'),
	url('fonts/motiva-sans-medium.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Light';
	src: url('fonts/motiva-sans-light.eot');
	src: url('fonts/motiva-sans-light.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-light.woff') format('woff'),
	url('fonts/motiva-sans-light.ttf') format('truetype'),
	url('fonts/motiva-sans-light.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Regular Italic';
	src: url('fonts/motiva-sans-regular-italic.eot');
	src: url('fonts/motiva-sans-regular-italic.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-regular-italic.woff') format('woff'),
	url('fonts/motiva-sans-regular-italic.ttf') format('truetype'),
	url('fonts/motiva-sans-regular-italic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Bold Italic';
	src: url('fonts/motiva-sans-bold-italic.eot');
	src: url('fonts/motiva-sans-bold-italic.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-bold-italic.woff') format('woff'),
	url('fonts/motiva-sans-bold-italic.ttf') format('truetype'),
	url('fonts/motiva-sans-bold-italic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Bold';
	src: url('fonts/motiva-sans-bold.eot');
	src: url('fonts/motiva-sans-bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-bold.woff') format('woff'),
	url('fonts/motiva-sans-bold.ttf') format('truetype'),
	url('fonts/motiva-sans-bold.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Thin';
	src: url('fonts/motiva-sans-thin.eot');
	src: url('fonts/motiva-sans-thin.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-thin.woff') format('woff'),
	url('fonts/motiva-sans-thin.ttf') format('truetype'),
	url('fonts/motiva-sans-thin.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Light Italic';
	src: url('fonts/motiva-sans-light-italic.eot');
	src: url('fonts/motiva-sans-light-italic.eot?#iefix') format('embedded-opentype'),
	url('fonts/motiva-sans-light-italic.woff') format('woff'),
	url('fonts/motiva-sans-light-italic.ttf') format('truetype'),
	url('fonts/motiva-sans-light-italic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	background:#111;
	color:#EEE;
	margin:0;
	padding:0;
	font-family:'Motiva Sans Light', sans-serif;
}

a {
	color:#EEE;
}

h1 {
	font-size:10rem;
	padding:0;
	margin:0;
	
	width:100%;
	height:100%;
	background-image:url(../img/woods.jpg);
	background-size:cover;
	text-align:center;
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
}

h1:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

h1 span {
	display: inline-block;
	vertical-align: middle;
	width:50%;
	max-width: 420px;
	height:260px;
	text-indent:-10000px;
	background-image:url(../img/logo.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
}

h2, h3, h4, h5 {
	margin-top:0;
	font-family:'Motiva Sans Medium', sans-serif;
	font-weight:normal;
}

header {
	width:100%;
	height:100%;
}

nav {
	font-family:'Motiva Sans Thin', sans-serif;
	width:100%;
	background:rgba(0, 0, 0, 0.5);
	font-size:1rem;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	font-size:0.9rem;
	letter-spacing:-0.025rem;
	text-transform:uppercase;
	border-bottom:1px solid #333;
	
	-webkit-transition: font-size 250ms ease-out;
	-moz-transition: font-size 250ms ease-out;
	-o-transition: font-size 250ms ease-out;
	transition: font-size 250ms ease-out;
}

.nav-sticky {
	position:fixed;
	top:0;
	left:0;
	height:auto;
	bottom:auto;
	z-index:1;
	font-size:0.7rem;
}

.nav-sticky li {
	border-color:#333;
}

nav ul {
	padding:0;
	margin:0;
}

nav ul li {
	list-style:none;
	display:inline-block;
	width:20%;
	max-width:150px;
	border-right:1px solid #8D826E;
	
	-webkit-transition: border-color 250ms ease-out;
	-moz-transition: border-color 250ms ease-out;
	-o-transition: border-color 250ms ease-out;
	transition: border-color 250ms ease-out;
}

nav ul li:last-child {
	border-right:none;
}

nav ul li a {
	display:inline-block;
	padding:1rem 0;
	width:100%;
	text-decoration:none;
}

nav ul li a:hover {
	color:#8C7F6E;
	background:rgba(255, 255, 255, 0.05);
}

.title {
	margin:0 0 2rem 0;
	padding:2rem 0 0 0;
	height:1px;
	text-indent:-10000px;
	border-bottom:1px solid #333;
	
}

.content {
	background:#111;
	background-image:url(../img/woods-inverted.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center bottom;
}

.container {
	max-width:960px;
	margin:0 auto;
	padding:0 15px;
}

.container::after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.albums {
	list-style:none;
	margin:0;
	padding:0;
}

.albums li {
	clear:both;
	padding:0 0 1rem 0;
}

.albums li:last-child {
	padding-bottom:0;
}

.albums li::after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.album {
	width:40%;
	float:left;
	position:relative;
}

.album:before {
	content: "";
	display: block;
	margin-top: 100%;
}

.album iframe {
	border:0;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
}

.album-info {
	width:60%;
	float:left;
	position:relative;
	padding:0 0 0 1rem;
}

.album-title {
	font-size:1rem;
}

.album-tracks {
	clear:none;
	list-style:numeric;
	padding:0 0 0 1rem;
	font-size:0.8rem;
}

.album-tracks li {
	padding:0 0 0.9rem 0;
}

.band-picture {
	width:40%;
	height:auto;
	float:left;
	display:block;
}

.band-bio {
	width:60%;
	height:auto;
	float:left;
	padding:0 0 0 1rem;
}